workflow/capabilities/knowledge/knowledge-agent.json
{
  "name": "JARVIS 4.6 — Knowledge Agent",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [$input.item];"
      },
      "id": "kn-input-001",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "jsCode": "const query = $json.intentParams?.query || $json.inputText || '';\nconst sentences = $json.intentParams?.sentences || 3;\nconst WOLFRAM_APPID = $env.WOLFRAM_ALPHA_APPID || '';\nconst SERPAPI_KEY = $env.SERPAPI_API_KEY || '';\n\nif (!query) {\n  return [{ json: { ...$json, responseText: '\u2757 Query required.', success: false } }];\n}\n\nreturn [{ json: { ...$json, query, sentences, wolframAppId: WOLFRAM_APPID, serpApiKey: SERPAPI_KEY } }];"
      },
      "id": "kn-prepare-001",
      "name": "Prepare Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.wolframalpha.com/v1/result",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "appid",
              "value": "={{ $json.wolframAppId }}"
            },
            {
              "name": "i",
              "value": "={{ $json.query }}"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "retryOnFail": true,
          "maxTries": 2
        }
      },
      "id": "kn-wolfram-001",
      "name": "Wolfram|Alpha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://en.wikipedia.org/w/api.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "list",
              "value": "search"
            },
            {
              "name": "srsearch",
              "value": "={{ $json.query }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "srlimit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "retryOnFail": true,
          "maxTries": 2
        }
      },
      "id": "kn-wiki-search-001",
      "name": "Wikipedia Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://en.wikipedia.org/api/rest_v1/page/summary/{{ $json.title }}",
        "options": {
          "timeout": 10000,
          "retryOnFail": true,
          "maxTries": 2
        }
      },
      "id": "kn-wiki-summary-001",
      "name": "Wikipedia Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "api_key",
              "value": "={{ $json.serpApiKey }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "3"
            }
          ]
        },
        "options": {
          "timeout": 15000,
          "retryOnFail": true,
          "maxTries": 2
        }
      },
      "id": "kn-serpapi-001",
      "name": "SerpAPI Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 500]
    },
    {
      "parameters": {
        "jsCode": "const wolframResult = $json[\"Wolfram|Alpha\"];\nif (wolframResult && wolframResult.statusCode === 200 && wolframResult.data) {\n  const text = wolframResult.data.trim();\n  if (text && !text.includes('Wolfram|Alpha did not understand')) {\n    return [{ json: { ...$input.item.json, responseText: `\ud83e\udd16 Wolfram|Alpha: ${text}`, success: true, source: 'wolfram' } }];\n  }\n}\nreturn [$input.item];"
      },
      "id": "kn-check-wolfram-001",
      "name": "Check Wolfram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 100]
    },
    {
      "parameters": {
        "jsCode": "const searchResult = $json[\"Wikipedia Search\"];\nif (searchResult && searchResult.statusCode === 200 && searchResult.data?.query?.search?.length > 0) {\n  const title = searchResult.data.query.search[0].title.replace(/ /g, '_');\n  return [{ json: { ...$input.item.json, wikiTitle: title } }];\n}\nreturn [{ json: { ...$input.item.json, wikiTitle: null } }];"
      },
      "id": "kn-check-wiki-search-001",
      "name": "Check Wiki Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "jsCode": "const summaryResult = $json[\"Wikipedia Summary\"];\nif (summaryResult && summaryResult.statusCode === 200 && summaryResult.data?.extract) {\n  const extract = summaryResult.data.extract;\n  const sentences = $json.sentences || 3;\n  const sentenceRegex = /(?<=[.!?])\\s+/;\n  const parts = extract.split(sentenceRegex).filter(Boolean);\n  const summary = parts.slice(0, sentences).join(' ');\n  return [{ json: { ...$input.item.json, responseText: `\ud83d\udcd6 Wikipedia: ${summary}`, success: true, source: 'wikipedia' } }];\n}\nreturn [$input.item];"
      },
      "id": "kn-check-wiki-summary-001",
      "name": "Check Wiki Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "jsCode": "const serpResult = $json[\"SerpAPI Search\"];\nif (serpResult && serpResult.statusCode === 200 && serpResult.data) {\n  const answer = serpResult.data.answer_box?.answer || serpResult.data.answer_box?.snippet;\n  const snippet = serpResult.data.organic_results?.[0]?.snippet;\n  const text = answer || snippet;\n  if (text) {\n    return [{ json: { ...$input.item.json, responseText: `\ud83d\udd0d Web: ${text}`, success: true, source: 'serpapi' } }];\n  }\n}\nreturn [{ json: { ...$input.item.json, responseText: '\u2753 No answer found from any source.', success: false } }];"
      },
      "id": "kn-check-serpapi-001",
      "name": "Check SerpAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 500]
    },
    {
      "parameters": {
        "jsCode": "const hasAnswer = $json.responseText && $json.success;\nif (hasAnswer) {\n  return [{ json: { ...$input.item.json, finalResponse: $json.responseText, finalSuccess: $json.success } }];\n}\nreturn [$input.item];"
      },
      "id": "kn-final-001",
      "name": "Final Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 500]
    }
  ],
  "connections": {
    "Input": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "Wolfram|Alpha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wikipedia Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "SerpAPI Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wolfram|Alpha": {
      "main": [
        [
          {
            "node": "Check Wolfram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia Search": {
      "main": [
        [
          {
            "node": "Check Wiki Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Wiki Search": {
      "main": [
        [
          {
            "node": "Wikipedia Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia Summary": {
      "main": [
        [
          {
            "node": "Check Wiki Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Search": {
      "main": [
        [
          {
            "node": "Check SerpAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Wolfram": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Wiki Summary": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SerpAPI": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}