workflow/capabilities/mail/gmail-agent.json
{
  "name": "JARVIS — Gmail Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "gm-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"workflowId": "JARVIS — Google Auth"}, "id": "gm-auth-001", "name": "Get Google Auth", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [500, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst accessToken = $json.accessToken || '';\n\nif (!accessToken) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google Auth failed: no access token.', success: false } }];\n}\n\nlet endpoint, queryParams, method = 'GET', body = null;\n\nif (intent === 'gmail_search') {\n  endpoint = 'https://gmail.googleapis.com/gmail/v1/users/me/messages';\n  queryParams = { maxResults: Math.min(params.max_results || 10, 50), q: params.q || '' };\n} else if (intent === 'gmail_read') {\n  if (!params.message_id) return [{ json: { ...$json, responseText: '\u2757 Required param missing: message_id', success: false } }];\n  endpoint = `https://gmail.googleapis.com/gmail/v1/users/me/messages/${params.message_id}`;\n  queryParams = { format: 'metadata', metadataHeaders: 'Subject,From,Date' };\n} else if (intent === 'gmail_send') {\n  if (!params.to) return [{ json: { ...$json, responseText: '\u2757 Required param missing: to', success: false } }];\n  if (!params.subject) return [{ json: { ...$json, responseText: '\u2757 Required param missing: subject', success: false } }];\n  if (!params.body) return [{ json: { ...$json, responseText: '\u2757 Required param missing: body', success: false } }];\n  endpoint = 'https://gmail.googleapis.com/gmail/v1/users/me/messages/send';\n  method = 'POST';\n  const email = [\n    `To: ${params.to}`,\n    `Subject: ${params.subject}`,\n    '',\n    params.body\n  ].join('\\r\\n');\n  const raw = btoa(email).replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=/g, '');\n  body = { raw };\n} else if (intent === 'gmail_delete') {\n  if (!params.message_id) return [{ json: { ...$json, responseText: '\u2757 Required param missing: message_id', success: false } }];\n  endpoint = `https://gmail.googleapis.com/gmail/v1/users/me/messages/${params.message_id}`;\n  method = 'DELETE';\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown Gmail intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams, apiMethod: method, apiBody: body, bearerToken: accessToken, _ctx: { intent, params, accessToken, source: $json.source, userId: $json.userId, sessionId: $json.sessionId, inputText: $json.inputText } } }];"}, "id": "gm-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "maxResults", "value": "={{ $json.apiParams.maxResults }}"}, {"name": "q", "value": "={{ $json.apiParams.q }}"}, {"name": "format", "value": "={{ $json.apiParams.format }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $json.bearerToken }}"}]}, "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}, "continueOnFail": true}, "id": "gm-api-001", "name": "Gmail API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
          "conditions": [{"id": "gm-check-status", "leftValue": "={{ $json.statusCode === undefined || ($json.statusCode >= 200 && $json.statusCode < 300) }}", "rightValue": "true", "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        }
      },
      "id": "gm-check-success",
      "name": "API Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json._ctx || $('Build Request').first().json._ctx || {};\nconst messages = $json.messages || [];\nif (messages.length === 0 && !$json.payload && !$json.id) {\n  return [{ json: { ...ctx, responseText: '\ud83d\udce9 No emails found.', success: true, intent: ctx.intent, intentParams: ctx.params } }];\n}\nlet text = '';\nif ($json.payload) {\n  const headers = $json.payload.headers || [];\n  const subject = headers.find(h => h.name === 'Subject')?.value || 'No Subject';\n  const from = headers.find(h => h.name === 'From')?.value || 'Unknown';\n  const date = headers.find(h => h.name === 'Date')?.value || '';\n  text = `\ud83d\udce8 <b>${subject}</b>\\nFrom: ${from}\\nDate: ${date}\\n`;\n} else if ($json.id && ($json.labelIds?.includes('SENT') || $json.resultSizeEstimate !== undefined)) {\n  text = '\u2705 Email operation completed successfully.';\n} else {\n  text = '\ud83d\udce9 Gmail Results:\\n\\n';\n  messages.slice(0, 10).forEach((msg, i) => {\n    text += `${i+1}. \ud83d\udce7 ${msg.id}\\n`;\n  });\n  text += `\\n\ud83d\udce9 ${messages.length} email(s) found`;\n}\nreturn [{ json: { ...ctx, responseText: text, success: true, intent: ctx.intent, intentParams: ctx.params } }];"
      },
      "id": "gm-format-001",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json._ctx || $('Build Request').first().json._ctx || {};\nconst jarvisLog = (level, message, meta = {}) => {\n  const levels = { debug: 0, info: 1, warn: 2, error: 3 };\n  const configLevel = ($env.LOG_LEVEL || 'info').toLowerCase();\n  if (levels[level] >= (levels[configLevel] ?? 1)) {\n    console[level === 'error' ? 'error' : level === 'warn' ? 'warn' : 'log'](\n      JSON.stringify({ timestamp: new Date().toISOString(), level, traceId: ctx.sessionId || 'unknown', workflow: 'gmail-agent', message, meta })\n    );\n  }\n};\nconst statusCode = $json.statusCode || $json.error?.statusCode || 0;\nconst statusMessage = $json.statusMessage || $json.error?.message || 'Unknown error';\n\nif (statusCode === 401) {\n  jarvisLog('warn', 'Token expired, attempting refresh', { intent: ctx.intent });\n  try {\n    const authRes = await $helpers.httpRequest({\n      method: 'POST', url: 'https://oauth2.googleapis.com/token',\n      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n      body: 'client_id=' + encodeURIComponent($env.GOOGLE_CLIENT_ID) + '&client_secret=' + encodeURIComponent($env.GOOGLE_CLIENT_SECRET) + '&refresh_token=' + encodeURIComponent($env.GOOGLE_REFRESH_TOKEN) + '&grant_type=refresh_token',\n      timeout: 15000\n    });\n    const retryRes = await $helpers.httpRequest({\n      method: $('Build Request').first().json.apiMethod || 'GET',\n      url: $('Build Request').first().json.apiEndpoint,\n      headers: { 'Authorization': 'Bearer ' + authRes.access_token },\n      body: $('Build Request').first().json.apiBody,\n      timeout: 15000\n    });\n    return [{ json: { ...retryRes, _ctx: ctx } }];\n  } catch (retryErr) {\n    jarvisLog('error', 'Auth retry failed', { intent: ctx.intent, error: retryErr.message });\n    return [{ json: { ...ctx, responseText: '\u26a0\ufe0f Authentication failed after refresh. Please re-authenticate Google OAuth.', success: false, intent: ctx.intent } }];\n  }\n}\n\njarvisLog('error', 'API request failed', { intent: ctx.intent, statusCode, statusMessage });\nreturn [{ json: { ...ctx, responseText: '\u26a0\ufe0f Could not complete your request. API returned error ' + statusCode + ': ' + statusMessage + '. Please try again.', success: false, intent: ctx.intent, error: { statusCode, provider: 'gmail', intent: ctx.intent } } }];"
      },
      "id": "gm-handle-error-001",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 400]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Get Google Auth", "type": "main", "index": 0}]]},
    "Get Google Auth": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]},
    "Build Request": {"main": [[{"node": "Gmail API", "type": "main", "index": 0}]]},
    "Gmail API": {"main": [[{"node": "API Success?", "type": "main", "index": 0}]]},
    "API Success?": {"main": [[{"node": "Format Response", "type": "main", "index": 0}], [{"node": "Handle API Error", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "errorWorkflow": "JARVIS — Error Handler"},
  "staticData": null,
  "tags": []
}
