workflow/capabilities/mail/gmail-agent.json
{
  "name": "JARVIS 4.6 — Gmail Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "gm-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\nconst accessToken = $env.GOOGLE_ACCESS_TOKEN || '';\n\nif (!GOOGLE_API_KEY && !accessToken) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google API credentials not configured.', success: false } }];\n}\n\nlet endpoint, queryParams, method = 'GET', body = null;\nconst authHeader = accessToken ? { Authorization: `Bearer ${accessToken}` } : {};\n\nif (intent === 'gmail_search') {\n  endpoint = 'https://gmail.googleapis.com/gmail/v1/users/me/messages';\n  queryParams = { maxResults: Math.min(params.max_results || 10, 50), q: params.q || '' };\n} else if (intent === 'gmail_read') {\n  const msgId = params.message_id || params.id;\n  if (!msgId) return [{ json: { ...$json, responseText: '\u2757 Message ID required.', success: false } }];\n  endpoint = `https://gmail.googleapis.com/gmail/v1/users/me/messages/${msgId}`;\n  queryParams = { format: 'metadata', metadataHeaders: 'Subject,From,Date' };\n} else if (intent === 'gmail_send') {\n  const { to, subject, body: bodyText } = params;\n  if (!to || !subject || !bodyText) {\n    return [{ json: { ...$json, responseText: '\u2757 to, subject, and body are required.', success: false } }];\n  endpoint = 'https://gmail.googleapis.com/gmail/v1/users/me/messages/send';\n  method = 'POST';\n  const email = [\n    `To: ${to}`,\n    `Subject: ${subject}`,\n    '',\n    bodyText\n  ].join('\\r\\n');\n  const raw = btoa(email).replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=/g, '');\n  body = { raw };\n} else if (intent === 'gmail_delete') {\n  const msgId = params.message_id || params.id;\n  if (!msgId) return [{ json: { ...$json, responseText: '\u2757 Message ID required.', success: false } }];\n  endpoint = `https://gmail.googleapis.com/gmail/v1/users/me/messages/${msgId}`;\n  method = 'DELETE';\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown Gmail intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams, apiMethod: method, apiBody: body, authHeader } }];"}, "id": "gm-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "maxResults", "value": "={{ $json.apiParams.maxResults }}"}, {"name": "q", "value": "={{ $json.apiParams.q }}"}, {"name": "format", "value": "={{ $json.apiParams.format }}"}, {"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}}, "id": "gm-api-001", "name": "Gmail API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {"parameters": {"jsCode": "const messages = $json.messages || [];\nif (messages.length === 0 && !$json.payload) {\n  return [{ json: { ...$input.item.json, responseText: '\ud83d\udce9 No emails found.', success: true } }];\n}\nlet text = '';\nif ($json.payload) {\n  // Single message read\n  const headers = $json.payload.headers || [];\n  const subject = headers.find(h => h.name === 'Subject')?.value || 'No Subject';\n  const from = headers.find(h => h.name === 'From')?.value || 'Unknown';\n  const date = headers.find(h => h.name === 'Date')?.value || '';\n  text = `\ud83d\udce8 <b>${subject}</b>\\nFrom: ${from}\\nDate: ${date}\\n`;\n} else if ($json.id && ($json.labelIds?.includes('SENT') || $json.resultSizeEstimate !== undefined)) {\n  // Send or delete result\n  text = '\u2705 Email operation completed successfully.';\n} else {\n  text = '\ud83d\udce9 Gmail Results:\\n\\n';\n  messages.slice(0, 10).forEach((msg, i) => {\n    text += `${i+1}. \ud83d\udce7 ${msg.id}\\n`;\n  });\n  text += `\\n\ud83d\udce9 ${messages.length} email(s) found`;\n}\nreturn [{ json: { ...$input.item.json, responseText: text, success: true } }];"}, "id": "gm-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}
  ],
  "connections": {"Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]}, "Build Request": {"main": [[{"node": "Gmail API", "type": "main", "index": 0}]]}, "Gmail API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
