workflow/capabilities/storage/drive-agent.json
{
  "name": "JARVIS — Drive Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "gd-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"workflowId": "JARVIS — Google Auth"}, "id": "gd-auth-001", "name": "Get Google Auth", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [500, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst accessToken = $json.accessToken || '';\nif (!accessToken) { return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google Auth failed: no access token.', success: false } }]; }\nlet endpoint, queryParams, method = 'GET', body = null;\nif (intent === 'drive_list') {\n  endpoint = 'https://www.googleapis.com/drive/v3/files';\n  queryParams = { pageSize: Math.min(params.page_size || 10, 100), fields: 'files(id,name,mimeType,modifiedTime,size)', orderBy: 'modifiedTime desc' };\n  if (params.q) queryParams.q = params.q;\n} else if (intent === 'drive_search') {\n  endpoint = 'https://www.googleapis.com/drive/v3/files';\n  queryParams = { pageSize: Math.min(params.max_results || 10, 100), q: `name contains '${params.query || params.q || ''}'`, fields: 'files(id,name,mimeType,modifiedTime)' };\n} else if (intent === 'drive_upload') {\n  const { name, content_base64, mime_type, parents } = params;\n  if (!name || !content_base64) return [{ json: { ...$json, responseText: '\u2757 name and content_base64 required.', success: false } }];\n  endpoint = 'https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart';\n  method = 'POST';\n  const metadata = { name };\n  if (mime_type) metadata.mimeType = mime_type;\n  if (parents) metadata.parents = parents;\n  body = { metadata, media: { mimeType: mime_type || 'application/octet-stream', body: content_base64 } };\n} else if (intent === 'drive_download') {\n  const fileId = params.file_id || params.id;\n  if (!fileId) return [{ json: { ...$json, responseText: '\u2757 File ID required.', success: false } }];\n  endpoint = `https://www.googleapis.com/drive/v3/files/${fileId}?alt=media`;\n} else if (intent === 'drive_delete') {\n  const fileId = params.file_id || params.id;\n  if (!fileId) return [{ json: { ...$json, responseText: '\u2757 File ID required.', success: false } }];\n  endpoint = `https://www.googleapis.com/drive/v3/files/${fileId}`;\n  method = 'DELETE';\n} else { return [{ json: { ...$json, responseText: '\u2753 Unknown Drive intent: ' + intent, success: false } }]; }\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams, apiMethod: method, apiBody: body, bearerToken: accessToken, _ctx: { intent, params, accessToken, source: $json.source, userId: $json.userId, sessionId: $json.sessionId, inputText: $json.inputText } } }];"}, "id": "gd-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "pageSize", "value": "={{ $json.apiParams.pageSize }}"}, {"name": "fields", "value": "={{ $json.apiParams.fields }}"}, {"name": "q", "value": "={{ $json.apiParams.q }}"}, {"name": "orderBy", "value": "={{ $json.apiParams.orderBy }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $json.bearerToken }}"}]}, "options": {"timeout": 30000, "retryOnFail": true, "maxTries": 2}, "continueOnFail": true}, "id": "gd-api-001", "name": "Drive API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {
      "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "gd-check-status", "leftValue": "={{ $json.statusCode === undefined || ($json.statusCode >= 200 && $json.statusCode < 300) }}", "rightValue": "true", "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}},
      "id": "gd-check-success",
      "name": "API Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {"jsCode": "const ctx = $json._ctx || $('Build Request').first().json._ctx || {};\nconst files = $json.files || [];\nif ($json.id && !$json.files) {\n  if ($json.name) return [{ json: { ...ctx, responseText: `\ud83d\udcc1 Uploaded: ${$json.name} (ID: ${$json.id})`, success: true, intent: ctx.intent } }];\n  if ($json.size) return [{ json: { ...ctx, responseText: `\ud83d\udcc1 Downloaded file (${$json.size} bytes)`, success: true, intent: ctx.intent } }];\n  return [{ json: { ...ctx, responseText: '\u2705 Drive operation completed.', success: true, intent: ctx.intent } }];\n}\nif (files.length === 0) { return [{ json: { ...ctx, responseText: '\ud83d\udcc1 No files found in Drive.', success: true, intent: ctx.intent } }]; }\nlet text = '\ud83d\udcc1 Google Drive Files:\n\n';\nfiles.forEach((f, i) => {\n  const icon = f.mimeType === 'application/vnd.google-apps.folder' ? '\ud83d\udcc2' : '\ud83d\udcc4';\n  const size = f.size ? `(${(f.size / 1024).toFixed(1)} KB)` : '';\n  text += `${icon} <b>${f.name}</b> ${size}\\n`;\n});\ntext += `\\n\ud83d\udcc1 ${files.length} file(s) found`;\nreturn [{ json: { ...ctx, responseText: text, success: true, intent: ctx.intent } }];"}, "id": "gd-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 200]},
    {
      "parameters": {"jsCode": "const ctx = $json._ctx || $('Build Request').first().json._ctx || {};\nconst jarvisLog = (level, message, meta = {}) => {\n  const levels = { debug: 0, info: 1, warn: 2, error: 3 };\n  const configLevel = ($env.LOG_LEVEL || 'info').toLowerCase();\n  if (levels[level] >= (levels[configLevel] ?? 1)) { console[level === 'error' ? 'error' : level === 'warn' ? 'warn' : 'log'](JSON.stringify({ timestamp: new Date().toISOString(), level, traceId: ctx.sessionId || 'unknown', workflow: 'drive-agent', message, meta })); }\n};\nconst statusCode = $json.statusCode || $json.error?.statusCode || 0;\nconst statusMessage = $json.statusMessage || $json.error?.message || 'Unknown error';\nif (statusCode === 401) {\n  jarvisLog('warn', 'Token expired, attempting refresh', { intent: ctx.intent });\n  try {\n    const authRes = await $helpers.httpRequest({ method: 'POST', url: 'https://oauth2.googleapis.com/token', headers: { 'Content-Type': 'application/x-www-form-urlencoded' }, body: 'client_id=' + encodeURIComponent($env.GOOGLE_CLIENT_ID) + '&client_secret=' + encodeURIComponent($env.GOOGLE_CLIENT_SECRET) + '&refresh_token=' + encodeURIComponent($env.GOOGLE_REFRESH_TOKEN) + '&grant_type=refresh_token', timeout: 15000 });\n    const retryRes = await $helpers.httpRequest({ method: $('Build Request').first().json.apiMethod || 'GET', url: $('Build Request').first().json.apiEndpoint, headers: { 'Authorization': 'Bearer ' + authRes.access_token }, body: $('Build Request').first().json.apiBody, timeout: 30000 });\n    return [{ json: { ...retryRes, _ctx: ctx } }];\n  } catch (retryErr) {\n    jarvisLog('error', 'Auth retry failed', { intent: ctx.intent, error: retryErr.message });\n    return [{ json: { ...ctx, responseText: '\u26a0\ufe0f Authentication failed after refresh. Please re-authenticate Google OAuth.', success: false, intent: ctx.intent } }];\n  }\n}\njarvisLog('error', 'API request failed', { intent: ctx.intent, statusCode, statusMessage });\nreturn [{ json: { ...ctx, responseText: '\u26a0\ufe0f Could not complete your request. API returned error ' + statusCode + ': ' + statusMessage + '. Please try again.', success: false, intent: ctx.intent, error: { statusCode, provider: 'drive', intent: ctx.intent } } }];"},
      "id": "gd-handle-error-001",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 400]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Get Google Auth", "type": "main", "index": 0}]]},
    "Get Google Auth": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]},
    "Build Request": {"main": [[{"node": "Drive API", "type": "main", "index": 0}]]},
    "Drive API": {"main": [[{"node": "API Success?", "type": "main", "index": 0}]]},
    "API Success?": {"main": [[{"node": "Format Response", "type": "main", "index": 0}], [{"node": "Handle API Error", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "errorWorkflow": "JARVIS — Error Handler"},
  "staticData": null,
  "tags": []
}
