workflow/capabilities/storage/drive-agent.json
{
  "name": "JARVIS 4.6 — Drive Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "gd-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\nconst accessToken = $env.GOOGLE_ACCESS_TOKEN || '';\n\nif (!GOOGLE_API_KEY && !accessToken) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google API credentials not configured.', success: false } }];\n}\n\nlet endpoint, queryParams, method = 'GET', body = null;\nconst authHeader = accessToken ? { Authorization: `Bearer ${accessToken}` } : {};\n\nif (intent === 'drive_list') {\n  endpoint = 'https://www.googleapis.com/drive/v3/files';\n  queryParams = { pageSize: Math.min(params.page_size || 10, 100), fields: 'files(id,name,mimeType,modifiedTime,size)', orderBy: 'modifiedTime desc' };\n  if (params.q) queryParams.q = params.q;\n} else if (intent === 'drive_search') {\n  endpoint = 'https://www.googleapis.com/drive/v3/files';\n  queryParams = { pageSize: Math.min(params.max_results || 10, 100), q: `name contains '${params.query || params.q || ''}'`, fields: 'files(id,name,mimeType,modifiedTime)' };\n} else if (intent === 'drive_upload') {\n  const { name, content_base64, mime_type, parents } = params;\n  if (!name || !content_base64) return [{ json: { ...$json, responseText: '\u2757 name and content_base64 required.', success: false } }];\n  endpoint = 'https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart';\n  method = 'POST';\n  const metadata = { name };\n  if (mime_type) metadata.mimeType = mime_type;\n  if (parents) metadata.parents = parents;\n  body = { metadata, media: { mimeType: mime_type || 'application/octet-stream', body: content_base64 } };\n} else if (intent === 'drive_download') {\n  const fileId = params.file_id || params.id;\n  if (!fileId) return [{ json: { ...$json, responseText: '\u2757 File ID required.', success: false } }];\n  endpoint = `https://www.googleapis.com/drive/v3/files/${fileId}?alt=media`;\n  method = 'GET';\n} else if (intent === 'drive_delete') {\n  const fileId = params.file_id || params.id;\n  if (!fileId) return [{ json: { ...$json, responseText: '\u2757 File ID required.', success: false } }];\n  endpoint = `https://www.googleapis.com/drive/v3/files/${fileId}`;\n  method = 'DELETE';\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown Drive intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams, apiMethod: method, apiBody: body } }];"}, "id": "gd-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "pageSize", "value": "={{ $json.apiParams.pageSize }}"}, {"name": "fields", "value": "={{ $json.apiParams.fields }}"}, {"name": "q", "value": "={{ $json.apiParams.q }}"}, {"name": "orderBy", "value": "={{ $json.apiParams.orderBy }}"}, {"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "options": {"timeout": 30000, "retryOnFail": true, "maxTries": 2}}, "id": "gd-api-001", "name": "Drive API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {"parameters": {"jsCode": "const files = $json.files || [];\nif ($json.id && !$json.files) {\n  // Upload, download, or delete result\n  if ($json.name) return [{ json: { ...$input.item.json, responseText: `\ud83d\udcc1 Uploaded: ${$json.name} (ID: ${$json.id})`, success: true } }];\n  if ($json.size) return [{ json: { ...$input.item.json, responseText: `\ud83d\udcc1 Downloaded file (${$json.size} bytes)`, success: true, content_base64: $json.content_base64 || '' } }];\n  return [{ json: { ...$input.item.json, responseText: '\u2705 Drive operation completed.', success: true } }];\n}\nif (files.length === 0) {\n  return [{ json: { ...$input.item.json, responseText: '\ud83d\udcc1 No files found in Drive.', success: true } }];\n}\nlet text = '\ud83d\udcc1 Google Drive Files:\n\n';\nfiles.forEach((f, i) => {\n  const icon = f.mimeType === 'application/vnd.google-apps.folder' ? '\ud83d\udcc2' : '\ud83d\udcc4';\n  const size = f.size ? `(${(f.size / 1024).toFixed(1)} KB)` : '';\n  text += `${icon} <b>${f.name}</b> ${size}\\n`;\n});\ntext += `\\n\ud83d\udcc1 ${files.length} file(s) found`;\nreturn [{ json: { ...$input.item.json, responseText: text, success: true } }];"}, "id": "gd-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}
  ],
  "connections": {"Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]}, "Build Request": {"main": [[{"node": "Drive API", "type": "main", "index": 0}]]}, "Drive API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
