workflow/core/capability-router.json
{
  "name": "JARVIS — Capability Router",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [$input.item];"
      },
      "id": "cr-input",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"cap-mail","leftValue":"={{ $json.intent }}","rightValue":"gmail_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"cap-calendar","leftValue":"={{ $json.intent }}","rightValue":"calendar_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"cap-storage","leftValue":"={{ $json.intent }}","rightValue":"drive_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"cap-contacts","leftValue":"={{ $json.intent }}","rightValue":"contacts_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"cap-docs","leftValue":"={{ $json.intent }}","rightValue":"docs_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"cap-slides","leftValue":"={{ $json.intent }}","rightValue":"slides_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"cap-tasks","leftValue":"={{ $json.intent }}","rightValue":"tasks_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"cap-sheets","leftValue":"={{ $json.intent }}","rightValue":"sheets_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"cap-knowledge","leftValue":"={{ $json.intent }}","rightValue":"knowledge_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"cap-chat","leftValue":"={{ $json.intent }}","rightValue":"general_chat","operator":{"type":"string","operation":"equals"}}], "combinator": "and"}}
          ]
        },
        "options": {"fallbackOutput": 9}
      },
      "id": "cr-switch",
      "name": "Route to Capability",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [580, 300]
    },
    {"parameters": {"workflowId": "JARVIS 4.6 — Gmail Agent"}, "id": "exec-mail", "name": "Mail Agent (Gmail)", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [820, -200]},
    {"parameters": {"workflowId": "JARVIS 4.6 — Calendar Agent"}, "id": "exec-calendar", "name": "Calendar Agent", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [820, -80]},
    {"parameters": {"workflowId": "JARVIS 4.6 — Drive Agent"}, "id": "exec-storage", "name": "Storage Agent (Drive)", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [820, 40]},
    {"parameters": {"workflowId": "JARVIS 4.6 — Contacts Agent"}, "id": "exec-contacts", "name": "Contacts Agent", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [820, 160]},
    {"parameters": {"workflowId": "JARVIS 4.6 — Docs Agent"}, "id": "exec-docs", "name": "Docs Agent", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [820, 280]},
    {"parameters": {"workflowId": "JARVIS 4.5 — Slides Agent"}, "id": "exec-slides", "name": "Slides Agent", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [820, 400]},
    {"parameters": {"workflowId": "JARVIS 4.6 — Tasks Agent"}, "id": "exec-tasks", "name": "Tasks Agent", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [820, 520]},
    {"parameters": {"workflowId": "JARVIS 4.6 — Sheets Agent"}, "id": "exec-sheets", "name": "Sheets Agent", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [820, 640]},
    {"parameters": {"workflowId": "JARVIS 4.6 — Knowledge Agent"}, "id": "exec-knowledge", "name": "Knowledge Agent", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [820, 760]},
    {"parameters": {"workflowId": "JARVIS — General Chat"}, "id": "exec-chat", "name": "General Chat", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [820, 880]}
  ],
  "connections": {
    "Input": {"main": [[{"node": "Route to Capability", "type": "main", "index": 0}]]},
    "Route to Capability": {
      "main": [
        [{"node": "Mail Agent (Gmail)", "type": "main", "index": 0}],
        [{"node": "Calendar Agent", "type": "main", "index": 0}],
        [{"node": "Storage Agent (Drive)", "type": "main", "index": 0}],
        [{"node": "Contacts Agent", "type": "main", "index": 0}],
        [{"node": "Docs Agent", "type": "main", "index": 0}],
        [{"node": "Slides Agent", "type": "main", "index": 0}],
        [{"node": "Tasks Agent", "type": "main", "index": 0}],
        [{"node": "Sheets Agent", "type": "main", "index": 0}],
        [{"node": "Knowledge Agent", "type": "main", "index": 0}],
        [{"node": "General Chat", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": ["core", "router"]
}