workflow/core/error-handler.json
{
  "name": "JARVIS — Error Handler",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [$input.item];"
      },
      "id": "eh-input",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "jsCode": "const error = $json.error || $json.message || 'Unknown error';\nconst workflow = $json.workflow || 'unknown';\nconst traceId = $json.traceId || 'no-trace';\nconst timestamp = new Date().toISOString();\n\nconsole.error(`[ERROR] traceId=${traceId} workflow=${workflow} error=${error}`);\n\nconst userMessage = `⚠️ Something went wrong (${traceId}). Please try again or check logs.`;\n\nreturn [{ json: { ...$input.item.json, errorMessage: userMessage, errorLogged: true, traceId } }];"
      },
      "id": "eh-log",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
          "conditions": [{"id": "is-telegram", "leftValue": "={{ $json.source }}", "rightValue": "telegram", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        }
      },
      "id": "eh-if-telegram",
      "name": "Is Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
          "conditions": [{"id": "is-website", "leftValue": "={{ $json.source }}", "rightValue": "website", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        }
      },
      "id": "eh-if-website",
      "name": "Is Website?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.metadata?.chatId, text: $json.errorMessage, parse_mode: 'HTML' }) }}",
        "options": {"timeout": 5000}
      },
      "id": "eh-send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.errorMessage, traceId: $json.traceId }) }}"
      },
      "id": "eh-respond-web",
      "name": "Respond to Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1060, 400]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Log Error", "type": "main", "index": 0}]]},
    "Log Error": {"main": [[{"node": "Is Telegram?", "type": "main", "index": 0}]]},
    "Is Telegram?": {"main": [[{"node": "Send to Telegram", "type": "main", "index": 0}], [{"node": "Is Website?", "type": "main", "index": 0}]]},
    "Is Website?": {"main": [[{"node": "Respond to Website", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": ["core", "error"]
}