workflow/core/intent-classifier.json
{
  "name": "JARVIS — Intent Classifier",
  "nodes": [
    {
      "parameters": {"jsCode": "return [$input.item];"},
      "id": "ic-input",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "workflowId": "JARVIS — LLM Adapter"
      },
      "id": "ic-llm",
      "name": "LLM Adapter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [580, 300]
    },
    {
      "parameters": {
        "jsCode": "const PARAMS_SCHEMA = {\n  gmail_search: { required: [], optional: ['q', 'max_results', 'label'] },\n  gmail_read: { required: ['message_id'], optional: [] },\n  gmail_send: { required: ['to', 'subject', 'body'], optional: ['cc', 'bcc'] },\n  gmail_delete: { required: ['message_id'], optional: [] },\n  calendar_list: { required: [], optional: ['time_min', 'time_max', 'max_results'] },\n  calendar_create: { required: ['summary', 'start', 'end'], optional: ['description', 'location'] },\n  calendar_delete: { required: ['event_id'], optional: [] },\n  drive_list: { required: [], optional: ['folder_id', 'max_results', 'query'] },\n  drive_search: { required: ['query'], optional: ['max_results'] },\n  drive_upload: { required: ['name', 'content'], optional: ['folder_id', 'mimeType'] },\n  drive_download: { required: ['file_id'], optional: [] },\n  drive_delete: { required: ['file_id'], optional: [] },\n  contacts_list: { required: [], optional: ['max_results'] },\n  contacts_search: { required: ['query'], optional: ['max_results'] },\n  contacts_create: { required: ['name'], optional: ['email', 'phone'] },\n  docs_create: { required: ['title'], optional: ['content'] },\n  docs_read: { required: ['document_id'], optional: [] },\n  docs_edit: { required: ['document_id', 'content'], optional: [] },\n  slides_create: { required: ['title'], optional: ['slides_count'] },\n  sheets_read: { required: ['spreadsheet_id', 'range'], optional: [] },\n  sheets_write: { required: ['spreadsheet_id', 'range', 'values'], optional: [] },\n  sheets_create: { required: ['title'], optional: [] },\n  tasks_list: { required: [], optional: ['tasklist_id', 'max_results'] },\n  tasks_create: { required: ['title'], optional: ['due', 'notes', 'tasklist_id'] },\n  tasks_update: { required: ['task_id', 'title'], optional: ['status', 'due', 'tasklist_id'] },\n  tasks_delete: { required: ['task_id'], optional: ['tasklist_id'] },\n  knowledge_query: { required: ['query'], optional: ['source'] },\n  general_chat: { required: [], optional: ['context'] }\n};\n\nconst jarvisLog = (level, message, meta = {}) => {\n  const levels = { debug: 0, info: 1, warn: 2, error: 3 };\n  const configLevel = ($env.LOG_LEVEL || 'info').toLowerCase();\n  if (levels[level] >= (levels[configLevel] ?? 1)) {\n    console[level === 'error' ? 'error' : level === 'warn' ? 'warn' : 'log'](\n      JSON.stringify({ timestamp: new Date().toISOString(), level, traceId: $json.sessionId || 'unknown', workflow: 'intent-classifier', message, meta })\n    );\n  }\n};\n\nlet raw = '';\ntry {\n  raw = $json.choices?.[0]?.message?.content || '{}';\n  raw = raw.replace(/```json|```/g, '').trim();\n} catch (e) {\n  raw = '{}';\n}\nlet decision;\ntry {\n  decision = JSON.parse(raw);\n} catch (e) {\n  decision = { intent: 'general_chat', confidence: 1.0, params: {} };\n}\n\nconst VALID_INTENTS = Object.keys(PARAMS_SCHEMA);\nif (!VALID_INTENTS.includes(decision.intent)) {\n  decision.intent = 'general_chat';\n  decision.confidence = 0.5;\n}\n\nconst schema = PARAMS_SCHEMA[decision.intent];\nlet params = decision.params || {};\nif (schema) {\n  const allowed = new Set([...schema.required, ...schema.optional]);\n  const cleaned = {};\n  for (const [key, val] of Object.entries(params)) {\n    if (allowed.has(key)) {\n      cleaned[key] = val;\n    } else {\n      jarvisLog('warn', 'Stripped hallucinated param', { intent: decision.intent, param: key, value: val });\n    }\n  }\n  for (const key of schema.required) {\n    if (cleaned[key] === undefined || cleaned[key] === null || cleaned[key] === '') {\n      cleaned[key] = null;\n      jarvisLog('warn', 'Missing required param set to null', { intent: decision.intent, param: key });\n    }\n  }\n  params = cleaned;\n}\n\nreturn [{ json: { ...$input.item.json, intent: decision.intent, intentConfidence: decision.confidence || 0, intentParams: params } }];"
      },
      "id": "ic-parse",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "LLM Adapter", "type": "main", "index": 0}]]},
    "LLM Adapter": {"main": [[{"node": "Parse Intent", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": ["core", "intent"]
}