workflow/core/memory-adapter.json
{
  "name": "JARVIS — Memory Adapter",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [$input.item];"
      },
      "id": "ma-input",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
          "conditions": [{"id": "save-session", "leftValue": "={{ $json.action }}", "rightValue": "save-session", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        }
      },
      "id": "ma-switch",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [580, 300]
    },
    {
      "parameters": {
        "jsCode": "const provider = ($env.MEMORY_PROVIDER || 'n8n-static').toLowerCase();\nconst sessionId = $json.sessionId || 'default';\nconst userId = $json.userId || 'default';\nconst inputText = $json.inputText || '';\nconst responseText = $json.responseText || '';\nconst intent = $json.intent || '';\n\nif (provider === 'sqlite') {\n  const baseUrl = $env.SQLITE_MEMORY_URL || 'http://localhost:8710';\n  await $helpers.httpRequest({\n    method: 'POST',\n    url: baseUrl + '/sessions',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      session_id: sessionId,\n      user_id: userId,\n      input: inputText,\n      response: responseText,\n      intent: intent,\n      timestamp: Date.now()\n    },\n    timeout: 5000\n  });\n  return [{ json: { ...$json, saved: true } }];\n}\n\nconst sd = $getWorkflowStaticData('global');\nsd.sessions = sd.sessions || {};\nsd.sessions[sessionId] = {\n  userId,\n  sessionId,\n  lastMessage: inputText,\n  lastResponse: responseText,\n  lastIntent: intent,\n  timestamp: new Date().toISOString(),\n  version: '1.0.0'\n};\n\nconst dataSize = JSON.stringify(sd).length;\nif (dataSize > 800000) {\n  const sessions = Object.entries(sd.sessions || {});\n  sessions.sort((a, b) => (a[1].timestamp || 0) - (b[1].timestamp || 0));\n  const toDelete = sessions.slice(0, Math.max(0, sessions.length - 100));\n  toDelete.forEach(([key]) => delete sd.sessions[key]);\n  console.log(JSON.stringify({ level: 'warn', timestamp: new Date().toISOString(), workflow: 'memory-adapter', message: 'Static data near limit — evicted old sessions', detail: { evicted: toDelete.length, remaining: Object.keys(sd.sessions || {}).length } }));\n}\n\nreturn [{ json: { ...$json, saved: true } }];"
      },
      "id": "ma-save-session",
      "name": "Save Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 100]
    },
    {
      "parameters": {
        "jsCode": "const { facts, sessionId, userId } = $json;\nconst provider = ($env.MEMORY_PROVIDER || 'n8n-static').toLowerCase();\n\nif (provider === 'sqlite') {\n  const baseUrl = $env.SQLITE_MEMORY_URL || 'http://localhost:8710';\n  await $helpers.httpRequest({\n    method: 'POST',\n    url: baseUrl + '/facts',\n    headers: { 'Content-Type': 'application/json' },\n    body: { facts, user_id: userId || 'default' },\n    timeout: 5000\n  });\n  return [{ json: { ...$json, factsSaved: facts ? facts.length : 0 } }];\n}\n\nconst sd = $getWorkflowStaticData('global');\nsd.facts = sd.facts || {};\n\nfor (const fact of (facts || [])) {\n  const key = fact.category + ':' + fact.key;\n  sd.facts[key] = { ...fact, userId, sessionId, updated: new Date().toISOString() };\n}\n\nconst userFacts = Object.values(sd.facts).filter(f => f.userId === userId);\nif (userFacts.length > 500) {\n  userFacts.sort((a, b) => (a.updated || '').localeCompare(b.updated || ''));\n  const toDelete = userFacts.slice(0, userFacts.length - 500);\n  toDelete.forEach(f => {\n    const fk = f.category + ':' + f.key;\n    delete sd.facts[fk];\n  });\n  console.log(JSON.stringify({ level: 'warn', timestamp: new Date().toISOString(), workflow: 'memory-adapter', message: 'Per-user fact limit reached — evicted oldest facts', detail: { evicted: toDelete.length, userId } }));\n}\n\nreturn [{ json: { ...$json, factsSaved: facts ? facts.length : 0 } }];"
      },
      "id": "ma-save-facts",
      "name": "Save Facts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "jsCode": "const sessionId = $json.sessionId;\nconst provider = ($env.MEMORY_PROVIDER || 'n8n-static').toLowerCase();\n\nif (provider === 'sqlite') {\n  const baseUrl = $env.SQLITE_MEMORY_URL || 'http://localhost:8710';\n  const response = await $helpers.httpRequest({\n    method: 'GET',\n    url: baseUrl + '/sessions/' + encodeURIComponent(sessionId),\n    timeout: 5000\n  });\n  return [{ json: { ...$json, session: response.data.session || null } }];\n}\n\nconst sd = $getWorkflowStaticData('global');\nconst session = sd.sessions?.[sessionId] || null;\nreturn [{ json: { ...$json, session } }];"
      },
      "id": "ma-get-session",
      "name": "Get Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 500]
    },
    {
      "parameters": {
        "jsCode": "const { userId, category } = $json;\nconst provider = ($env.MEMORY_PROVIDER || 'n8n-static').toLowerCase();\n\nif (provider === 'sqlite') {\n  const baseUrl = $env.SQLITE_MEMORY_URL || 'http://localhost:8710';\n  let url = baseUrl + '/facts?';\n  const queryParams = [];\n  if (userId) queryParams.push('user_id=' + encodeURIComponent(userId));\n  if (category) queryParams.push('category=' + encodeURIComponent(category));\n  url += queryParams.join('&');\n  const response = await $helpers.httpRequest({ method: 'GET', url, timeout: 5000 });\n  return [{ json: { ...$json, facts: response.data.facts || [] } }];\n}\n\nconst sd = $getWorkflowStaticData('global');\nconst facts = sd.facts || {};\nlet result = Object.values(facts);\nif (userId) result = result.filter(f => f.userId === userId);\nif (category) result = result.filter(f => f.category === category);\nreturn [{ json: { ...$json, facts: result } }];"
      },
      "id": "ma-get-facts",
      "name": "Get Facts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 700]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      },
      "id": "ma-merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1060, 300]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Action Switch", "type": "main", "index": 0}]]},
    "Action Switch": {
      "main": [
        [{"node": "Save Session", "type": "main", "index": 0}],
        [{"node": "Save Facts", "type": "main", "index": 0}],
        [{"node": "Get Session", "type": "main", "index": 0}],
        [{"node": "Get Facts", "type": "main", "index": 0}]
      ]
    },
    "Save Session": {"main": [[{"node": "Merge Results", "type": "main", "index": 0}]]},
    "Save Facts": {"main": [[{"node": "Merge Results", "type": "main", "index": 0}]]},
    "Get Session": {"main": [[{"node": "Merge Results", "type": "main", "index": 0}]]},
    "Get Facts": {"main": [[{"node": "Merge Results", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": ["core", "memory", "adapter"]
}
