workflow/core/response-sender.json
{
  "name": "JARVIS — Response Sender",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [$input.item];"
      },
      "id": "rs-input",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "jsCode": "const MAX_LEN = parseInt($env.TELEGRAM_MAX_MESSAGE_LENGTH || '4000', 10);\nconst source = $json.source;\nconst rawText = $json.responseText || '';\n\nlet text = rawText;\n\nif (source === 'telegram' && text.length > MAX_LEN) {\n  text = text.substring(0, MAX_LEN - 20) + '... [truncated]';\n}\n\ntext = text.replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>');\ntext = text.replace(/\\*(.*?)\\*/g, '<i>$1</i>');\ntext = text.replace(/`(.*?)`/g, '<code>$1</code>');\ntext = text.replace(/&(?!amp;|lt;|gt;|#)/g, '&');\n\nreturn [{ json: { ...$json, messageText: text } }];"
      },
      "id": "rs-format",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
          "conditions": [{"id": "is-telegram", "leftValue": "={{ $json.source }}", "rightValue": "telegram", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        }
      },
      "id": "rs-if-telegram",
      "name": "Is Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
          "conditions": [{"id": "is-website", "leftValue": "={{ $json.source }}", "rightValue": "website", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        }
      },
      "id": "rs-if-website",
      "name": "Is Website?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.metadata?.chatId, text: $json.messageText, parse_mode: 'HTML', reply_to_message_id: parseInt($json.messageId) || undefined }) }}",
        "options": {"timeout": 10000, "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000}
      },
      "id": "rs-send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
          "conditions": [{"id": "tg-ok", "leftValue": "={{ $json.statusCode === 200 }}", "rightValue": "true", "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        }
      },
      "id": "rs-tg-ok",
      "name": "Telegram OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1220, 100]
    },
    {
      "parameters": {
        "jsCode": "const jarvisLog = (level, message, meta = {}) => {\n  const levels = { debug: 0, info: 1, warn: 2, error: 3 };\n  const cl = ($env.LOG_LEVEL || 'info').toLowerCase();\n  if (levels[level] >= (levels[cl] ?? 1)) {\n    console[level === 'error' ? 'error' : level === 'warn' ? 'warn' : 'log'](JSON.stringify({ timestamp: new Date().toISOString(), level, traceId: $json.sessionId || 'unknown', workflow: 'response-sender', message, meta }));\n  }\n};\nconst sc = $json.statusCode || 0;\nconst ctx = $json._ctx || {};\nif (sc === 429) {\n  jarvisLog('warn', 'Telegram rate limit hit', { chatId: $json.metadata?.chatId });\n} else if (sc === 403) {\n  jarvisLog('warn', 'Bot blocked by user', { userId: ctx.userId, chatId: $json.metadata?.chatId });\n} else if (sc >= 400) {\n  jarvisLog('error', 'Telegram send failed', { statusCode: sc, chatId: $json.metadata?.chatId });\n}\nreturn [];"
      },
      "id": "rs-tg-error",
      "name": "Handle Send Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{ JSON.stringify({ success: true, response: $json.messageText, source: $json.source, version: '1.0.0' }) }}"
      },
      "id": "rs-respond-web",
      "name": "Respond to Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1060, 400]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Format Output", "type": "main", "index": 0}]]},
    "Format Output": {"main": [[{"node": "Is Telegram?", "type": "main", "index": 0}]]},
    "Is Telegram?": {
      "main": [
        [{"node": "Send to Telegram", "type": "main", "index": 0}],
        [{"node": "Is Website?", "type": "main", "index": 0}]
      ]
    },
    "Send to Telegram": {"main": [[{"node": "Telegram OK?", "type": "main", "index": 0}]]},
    "Telegram OK?": {
      "main": [
        [],
        [{"node": "Handle Send Error", "type": "main", "index": 0}]
      ]
    },
    "Is Website?": {
      "main": [
        [{"node": "Respond to Website", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {"executionOrder": "v1", "errorWorkflow": "JARVIS — Error Handler"},
  "staticData": null,
  "tags": ["core", "response"]
}