workflow/capabilities/docs/docs-agent.json
{
  "name": "JARVIS 4.6 — Docs Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "do-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\nconst accessToken = $env.GOOGLE_ACCESS_TOKEN || '';\n\nif (!GOOGLE_API_KEY && !accessToken) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google API credentials not configured.', success: false } }];\n}\n\nlet endpoint, body, method = 'GET';\nif (intent === 'docs_create') {\n  endpoint = 'https://docs.googleapis.com/v1/documents';\n  method = 'POST';\n  body = { title: params.title || 'Untitled Document' };\n} else if (intent === 'docs_read') {\n  const docId = params.document_id || params.id;\n  if (!docId) return [{ json: { ...$json, responseText: '\u2757 Document ID required.', success: false } }];\n  endpoint = `https://docs.googleapis.com/v1/documents/${docId}`;\n} else if (intent === 'docs_edit') {\n  const docId = params.document_id || params.id;\n  if (!docId) return [{ json: { ...$json, responseText: '\u2757 Document ID required.', success: false } }];\n  const { requests } = params;\n  if (!requests || !Array.isArray(requests)) return [{ json: { ...$json, responseText: '\u2757 requests array required.', success: false } }];\n  endpoint = `https://docs.googleapis.com/v1/documents/${docId}:batchUpdate`;\n  method = 'POST';\n  body = { requests };\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown Docs intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiBody: body, apiMethod: method } }];"}, "id": "do-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}]}, "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}}, "id": "do-api-001", "name": "Docs API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {"parameters": {"jsCode": "if ($json.documentId) {\n  const url = `https://docs.google.com/document/d/${$json.documentId}/edit`;\n  return [{ json: { ...$input.item.json, responseText: `\ud83d\udcc4 Document created!\n\n<b>${$json.title}</b>\n\n\ud83d\udd17 ${url}`, success: true } }];\n} else if ($json.title) {\n  return [{ json: { ...$input.item.json, responseText: `\ud83d\udcc4 Document: ${$json.title}\nID: ${$json.documentId || 'N/A'}`, success: true } }];\n}\nreturn [{ json: { ...$input.item.json, responseText: `\ud83d\udcc4 Document operation completed.`, success: true } }];"}, "id": "do-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}
  ],
  "connections": {"Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]}, "Build Request": {"main": [[{"node": "Docs API", "type": "main", "index": 0}]]}, "Docs API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
