workflow/capabilities/slides/slides-agent.json
{
  "name": "JARVIS 4.5 — Slides Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "sl-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\n\nif (!GOOGLE_API_KEY) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f GOOGLE_API_KEY not configured.', success: false } }];\n}\n\nlet endpoint, body, method = 'GET';\nif (intent === 'slides_create') {\n  endpoint = 'https://slides.googleapis.com/v1/presentations';\n  method = 'POST';\n  body = { title: params.title || 'Untitled Presentation' };\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown Slides intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiBody: body, apiMethod: method } }];"}, "id": "sl-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 300]},
    {"parameters": {"method": "POST", "url": "={{ $json.apiEndpoint }}", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}]}, "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}}, "id": "sl-api-001", "name": "Slides API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {"parameters": {"jsCode": "if ($json.presentationId) {\n  const url = `https://docs.google.com/presentation/d/${$json.presentationId}/edit`;\n  return [{ json: { ...$input.item.json, responseText: `\ud83c\udfc4 Presentation created!\n\n<b>${$json.title}</b>\n\n\ud83d\udd17 ${url}`, success: true } }];\n}\nreturn [{ json: { ...$input.item.json, responseText: `\ud83c\udfc4 Slides operation completed.`, success: true } }];"}, "id": "sl-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}
  ],
  "connections": {"Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]}, "Build Request": {"main": [[{"node": "Slides API", "type": "main", "index": 0}]]}, "Slides API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
