workflow/capabilities/tasks/tasks-agent.json
{
  "name": "JARVIS 4.6 — Tasks Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "ta-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\nconst accessToken = $env.GOOGLE_ACCESS_TOKEN || '';\n\nif (!GOOGLE_API_KEY && !accessToken) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google API credentials not configured.', success: false } }];\n}\n\nlet endpoint, queryParams, method = 'GET', body = null;\nconst tasklist = params.tasklist_id || '@default';\n\nif (intent === 'tasks_list') {\n  endpoint = `https://tasks.googleapis.com/tasks/v1/lists/${tasklist}/tasks`;\n  queryParams = { showCompleted: String(params.show_completed !== false), maxResults: 50 };\n} else if (intent === 'tasks_create') {\n  const { title, notes, due } = params;\n  if (!title) return [{ json: { ...$json, responseText: '\u2757 Title required.', success: false } }];\n  endpoint = `https://tasks.googleapis.com/tasks/v1/lists/${tasklist}/tasks`;\n  method = 'POST';\n  body = { title };\n  if (notes) body.notes = notes;\n  if (due) body.due = due;\n} else if (intent === 'tasks_update') {\n  const taskId = params.task_id || params.id;\n  if (!taskId) return [{ json: { ...$json, responseText: '\u2757 Task ID required.', success: false } }];\n  endpoint = `https://tasks.googleapis.com/tasks/v1/lists/${tasklist}/tasks/${taskId}`;\n  method = 'PATCH';\n  body = {};\n  if (params.title !== undefined) body.title = params.title;\n  if (params.status !== undefined) body.status = params.status;\n  if (params.notes !== undefined) body.notes = params.notes;\n} else if (intent === 'tasks_delete') {\n  const taskId = params.task_id || params.id;\n  if (!taskId) return [{ json: { ...$json, responseText: '\u2757 Task ID required.', success: false } }];\n  endpoint = `https://tasks.googleapis.com/tasks/v1/lists/${tasklist}/tasks/${taskId}`;\n  method = 'DELETE';\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown Tasks intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams, apiMethod: method, apiBody: body } }];"}, "id": "ta-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "showCompleted", "value": "={{ $json.apiParams.showCompleted }}"}, {"name": "maxResults", "value": "={{ $json.apiParams.maxResults }}"}, {"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}}, "id": "ta-api-001", "name": "Tasks API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {"parameters": {"jsCode": "const items = $json.items || [];\nif ($json.id && !$json.items) {\n  // Create, update, or delete result\n  return [{ json: { ...$input.item.json, responseText: '\u2705 Task operation completed.', success: true } }];\n}\nif (items.length === 0) {\n  return [{ json: { ...$input.item.json, responseText: '\ud83d\udccb No tasks found.', success: true } }];\n}\nlet text = '\ud83d\udccb Tasks:\n\n';\nitems.forEach((t, i) => {\n  const status = t.status === 'completed' ? '\u2705' : '\u2b1c';\n  const title = t.title || 'Untitled';\n  const due = t.due ? ` (Due: ${t.due.split('T')[0]})` : '';\n  text += `${status} ${title}${due}\\n`;\n});\nreturn [{ json: { ...$input.item.json, responseText: text, success: true } }];"}, "id": "ta-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}
  ],
  "connections": {"Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]}, "Build Request": {"main": [[{"node": "Tasks API", "type": "main", "index": 0}]]}, "Tasks API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
