workflow/capabilities/tasks/tasks-agent.json
{
  "name": "JARVIS — Tasks Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "ta-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"workflowId": "JARVIS — Google Auth"}, "id": "ta-auth-001", "name": "Get Google Auth", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [500, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst accessToken = $json.accessToken || '';\nif (!accessToken) { return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google Auth failed: no access token.', success: false } }]; }\nlet endpoint, queryParams, method = 'GET', body = null;\nconst tasklist = params.tasklist_id || '@default';\nif (intent === 'tasks_list') {\n  endpoint = `https://tasks.googleapis.com/tasks/v1/lists/${tasklist}/tasks`;\n  queryParams = { showCompleted: String(params.show_completed !== false), maxResults: 50 };\n} else if (intent === 'tasks_create') {\n  const { title, notes, due } = params;\n  if (!title) return [{ json: { ...$json, responseText: '\u2757 Title required.', success: false } }];\n  endpoint = `https://tasks.googleapis.com/tasks/v1/lists/${tasklist}/tasks`;\n  method = 'POST';\n  body = { title }; if (notes) body.notes = notes; if (due) body.due = due;\n} else if (intent === 'tasks_update') {\n  const taskId = params.task_id || params.id;\n  if (!taskId) return [{ json: { ...$json, responseText: '\u2757 Task ID required.', success: false } }];\n  endpoint = `https://tasks.googleapis.com/tasks/v1/lists/${tasklist}/tasks/${taskId}`;\n  method = 'PATCH';\n  body = {}; if (params.title !== undefined) body.title = params.title; if (params.status !== undefined) body.status = params.status; if (params.notes !== undefined) body.notes = params.notes;\n} else if (intent === 'tasks_delete') {\n  const taskId = params.task_id || params.id;\n  if (!taskId) return [{ json: { ...$json, responseText: '\u2757 Task ID required.', success: false } }];\n  endpoint = `https://tasks.googleapis.com/tasks/v1/lists/${tasklist}/tasks/${taskId}`;\n  method = 'DELETE';\n} else { return [{ json: { ...$json, responseText: '\u2753 Unknown Tasks intent: ' + intent, success: false } }]; }\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams, apiMethod: method, apiBody: body, bearerToken: accessToken, _ctx: { intent, params, accessToken, source: $json.source, userId: $json.userId, sessionId: $json.sessionId, inputText: $json.inputText } } }];"}, "id": "ta-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "showCompleted", "value": "={{ $json.apiParams.showCompleted }}"}, {"name": "maxResults", "value": "={{ $json.apiParams.maxResults }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $json.bearerToken }}"}]}, "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}, "continueOnFail": true}, "id": "ta-api-001", "name": "Tasks API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {
      "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "ta-check-status", "leftValue": "={{ $json.statusCode === undefined || ($json.statusCode >= 200 && $json.statusCode < 300) }}", "rightValue": "true", "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}},
      "id": "ta-check-success",
      "name": "API Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {"jsCode": "const ctx = $json._ctx || $('Build Request').first().json._ctx || {};\nconst items = $json.items || [];\nif ($json.id && !$json.items) { return [{ json: { ...ctx, responseText: '\u2705 Task operation completed.', success: true, intent: ctx.intent } }]; }\nif (items.length === 0) { return [{ json: { ...ctx, responseText: '\ud83d\udccb No tasks found.', success: true, intent: ctx.intent } }]; }\nlet text = '\ud83d\udccb Tasks:\n\n';\nitems.forEach((t, i) => {\n  const status = t.status === 'completed' ? '\u2705' : '\u2b1c';\n  const title = t.title || 'Untitled';\n  const due = t.due ? ` (Due: ${t.due.split('T')[0]})` : '';\n  text += `${status} ${title}${due}\\n`;\n});\nreturn [{ json: { ...ctx, responseText: text, success: true, intent: ctx.intent } }];"}, "id": "ta-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 200]},
    {
      "parameters": {"jsCode": "const ctx = $json._ctx || $('Build Request').first().json._ctx || {};\nconst jarvisLog = (level, message, meta = {}) => {\n  const levels = { debug: 0, info: 1, warn: 2, error: 3 };\n  const configLevel = ($env.LOG_LEVEL || 'info').toLowerCase();\n  if (levels[level] >= (levels[configLevel] ?? 1)) { console[level === 'error' ? 'error' : level === 'warn' ? 'warn' : 'log'](JSON.stringify({ timestamp: new Date().toISOString(), level, traceId: ctx.sessionId || 'unknown', workflow: 'tasks-agent', message, meta })); }\n};\nconst statusCode = $json.statusCode || $json.error?.statusCode || 0;\nconst statusMessage = $json.statusMessage || $json.error?.message || 'Unknown error';\nif (statusCode === 401) {\n  jarvisLog('warn', 'Token expired, attempting refresh', { intent: ctx.intent });\n  try {\n    const authRes = await $helpers.httpRequest({ method: 'POST', url: 'https://oauth2.googleapis.com/token', headers: { 'Content-Type': 'application/x-www-form-urlencoded' }, body: 'client_id=' + encodeURIComponent($env.GOOGLE_CLIENT_ID) + '&client_secret=' + encodeURIComponent($env.GOOGLE_CLIENT_SECRET) + '&refresh_token=' + encodeURIComponent($env.GOOGLE_REFRESH_TOKEN) + '&grant_type=refresh_token', timeout: 15000 });\n    const retryRes = await $helpers.httpRequest({ method: $('Build Request').first().json.apiMethod || 'GET', url: $('Build Request').first().json.apiEndpoint, headers: { 'Authorization': 'Bearer ' + authRes.access_token }, body: $('Build Request').first().json.apiBody, timeout: 15000 });\n    return [{ json: { ...retryRes, _ctx: ctx } }];\n  } catch (retryErr) {\n    jarvisLog('error', 'Auth retry failed', { intent: ctx.intent, error: retryErr.message });\n    return [{ json: { ...ctx, responseText: '\u26a0\ufe0f Authentication failed after refresh. Please re-authenticate Google OAuth.', success: false, intent: ctx.intent } }];\n  }\n}\njarvisLog('error', 'API request failed', { intent: ctx.intent, statusCode, statusMessage });\nreturn [{ json: { ...ctx, responseText: '\u26a0\ufe0f Could not complete your request. API returned error ' + statusCode + ': ' + statusMessage + '. Please try again.', success: false, intent: ctx.intent, error: { statusCode, provider: 'tasks', intent: ctx.intent } } }];"},
      "id": "ta-handle-error-001",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 400]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Get Google Auth", "type": "main", "index": 0}]]},
    "Get Google Auth": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]},
    "Build Request": {"main": [[{"node": "Tasks API", "type": "main", "index": 0}]]},
    "Tasks API": {"main": [[{"node": "API Success?", "type": "main", "index": 0}]]},
    "API Success?": {"main": [[{"node": "Format Response", "type": "main", "index": 0}], [{"node": "Handle API Error", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "errorWorkflow": "JARVIS — Error Handler"},
  "staticData": null,
  "tags": []
}
