workflow/capabilities/contacts/contacts-agent.json
{
  "name": "JARVIS 4.6 — Contacts Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "co-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\nconst accessToken = $env.GOOGLE_ACCESS_TOKEN || '';\n\nif (!GOOGLE_API_KEY && !accessToken) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google API credentials not configured.', success: false } }];\n}\n\nlet endpoint, queryParams, method = 'GET', body = null;\n\nif (intent === 'contacts_list') {\n  endpoint = 'https://people.googleapis.com/v1/people/me/connections';\n  queryParams = { pageSize: Math.min(params.page_size || 10, 100), personFields: 'names,emailAddresses,phoneNumbers' };\n} else if (intent === 'contacts_search') {\n  endpoint = 'https://people.googleapis.com/v1/people:searchContacts';\n  queryParams = { query: params.query || '', pageSize: 10, readMask: 'names,emailAddresses,phoneNumbers' };\n} else if (intent === 'contacts_create') {\n  const { names, emailAddresses, phoneNumbers } = params;\n  if (!names || !names[0]?.displayName) return [{ json: { ...$json, responseText: '\u2757 At least one name with displayName required.', success: false } }];\n  endpoint = 'https://people.googleapis.com/v1/people:createContact';\n  method = 'POST';\n  body = {};\n  if (names) body.names = names;\n  if (emailAddresses) body.emailAddresses = emailAddresses;\n  if (phoneNumbers) body.phoneNumbers = phoneNumbers;\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown Contacts intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams, apiMethod: method, apiBody: body } }];"}, "id": "co-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "pageSize", "value": "={{ $json.apiParams.pageSize }}"}, {"name": "personFields", "value": "={{ $json.apiParams.personFields }}"}, {"name": "readMask", "value": "={{ $json.apiParams.readMask }}"}, {"name": "query", "value": "={{ $json.apiParams.query }}"}, {"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}}, "id": "co-api-001", "name": "Contacts API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {"parameters": {"jsCode": "const connections = $json.connections || [];\nif ($json.resourceName) {\n  return [{ json: { ...$input.item.json, responseText: '\u2705 Contact created successfully.', success: true } }];\n}\nif (connections.length === 0) {\n  return [{ json: { ...$input.item.json, responseText: '\ud83d\udc64 No contacts found.', success: true } }];\n}\nlet text = '\ud83d\udc65 Contacts:\n\n';\nconnections.forEach((c, i) => {\n  const name = c.names?.[0]?.displayName || 'Unnamed';\n  const email = c.emailAddresses?.[0]?.value || '';\n  const phone = c.phoneNumbers?.[0]?.value || '';\n  text += `${i+1}. <b>${name}</b>${email ? ' \\n\ud83d\udce7 ' + email : ''}${phone ? ' \\n\ud83d\udcf1 ' + phone : ''}\\n\\n`;\n});\nreturn [{ json: { ...$input.item.json, responseText: text, success: true } }];"}, "id": "co-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}
  ],
  "connections": {"Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]}, "Build Request": {"main": [[{"node": "Contacts API", "type": "main", "index": 0}]]}, "Contacts API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
