workflow/capabilities/sheets/sheets-agent.json
{
  "name": "JARVIS 4.6 — Sheets Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "sh-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\nconst accessToken = $env.GOOGLE_ACCESS_TOKEN || '';\n\nif (!GOOGLE_API_KEY && !accessToken) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google API credentials not configured.', success: false } }];\n}\n\nlet endpoint, body, method = 'GET';\nconst spreadsheetId = params.spreadsheet_id || params.id;\n\nif (intent === 'sheets_read') {\n  const range = params.range || 'Sheet1!A1:C10';\n  endpoint = `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}`;\n} else if (intent === 'sheets_write') {\n  const range = params.range || 'Sheet1!A1';\n  endpoint = `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(range)}`;\n  method = 'PUT';\n  body = { values: params.values || [[]] };\n} else if (intent === 'sheets_create') {\n  endpoint = 'https://sheets.googleapis.com/v4/spreadsheets';\n  method = 'POST';\n  body = { properties: { title: params.title || 'New Spreadsheet' } };\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown Sheets intent: ' + intent, success: false } }];\n}\n\nif (!spreadsheetId && intent !== 'sheets_create') {\n  return [{ json: { ...$json, responseText: '\u2757 Spreadsheet ID required.', success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiBody: body, apiMethod: method, range: params.range } }];"}, "id": "sh-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "valueInputOption", "value": "=RAW"}, {"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}]}, "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}}, "id": "sh-api-001", "name": "Sheets API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {"parameters": {"jsCode": "const values = $json.values;\nif ($json.spreadsheetId && $json.properties) {\n  const url = `https://docs.google.com/spreadsheets/d/${$json.spreadsheetId}/edit`;\n  return [{ json: { ...$input.item.json, responseText: `\ud83d\udcca Spreadsheet created!\n\n<b>${$json.properties.title}</b>\n\n\ud83d\udd17 ${url}`, success: true } }];\n}\nif (values) {\n  let text = `\ud83d\udcca Data (${$json.range || 'unknown range'}):\n\n`;\n  values.forEach(row => {\n    text += row.join(' | ') + '\\n';\n  });\n  return [{ json: { ...$input.item.json, responseText: text, success: true } }];\n}\nif ($json.updatedCells !== undefined) {\n  return [{ json: { ...$input.item.json, responseText: `\u2705 ${$json.updatedCells} cell(s) updated.`, success: true } }];\n}\nreturn [{ json: { ...$input.item.json, responseText: `\ud83d\udcca Sheets operation completed.`, success: true } }];"}, "id": "sh-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}
  ],
  "connections": {"Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]}, "Build Request": {"main": [[{"node": "Sheets API", "type": "main", "index": 0}]]}, "Sheets API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
