workflow/capabilities/calendar/calendar-agent.json
{
  "name": "JARVIS 4.6 — Calendar Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "ca-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\nconst accessToken = $env.GOOGLE_ACCESS_TOKEN || '';\n\nif (!GOOGLE_API_KEY && !accessToken) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google API credentials not configured.', success: false } }];\n}\n\nlet endpoint, queryParams, method = 'GET', body = null;\nconst calendarId = params.calendar_id || 'primary';\nconst authHeader = accessToken ? { Authorization: `Bearer ${accessToken}` } : {};\n\nif (intent === 'calendar_list') {\n  endpoint = `https://www.googleapis.com/calendar/v3/calendars/${calendarId}/events`;\n  const now = new Date();\n  const timeMin = params.time_min || now.toISOString();\n  const timeMax = params.time_max || new Date(now.getTime() + 7 * 86400000).toISOString();\n  queryParams = { maxResults: Math.min(params.max_results || 10, 50), timeMin, timeMax, orderBy: 'startTime', singleEvents: true };\n} else if (intent === 'calendar_create') {\n  const { summary, start, end, description, location, attendees } = params;\n  if (!summary || !start || !end) {\n    return [{ json: { ...$json, responseText: '\u2757 summary, start, and end are required.', success: false } }];\n  endpoint = `https://www.googleapis.com/calendar/v3/calendars/${calendarId}/events`;\n  method = 'POST';\n  body = { summary, start: { dateTime: start }, end: { dateTime: end } };\n  if (description) body.description = description;\n  if (location) body.location = location;\n  if (attendees) body.attendees = attendees;\n} else if (intent === 'calendar_delete') {\n  const eventId = params.event_id || params.id;\n  if (!eventId) return [{ json: { ...$json, responseText: '\u2757 Event ID required.', success: false } }];\n  endpoint = `https://www.googleapis.com/calendar/v3/calendars/${calendarId}/events/${eventId}`;\n  method = 'DELETE';\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown Calendar intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams, apiMethod: method, apiBody: body } }];"}, "id": "ca-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "maxResults", "value": "={{ $json.apiParams.maxResults }}"}, {"name": "timeMin", "value": "={{ $json.apiParams.timeMin }}"}, {"name": "timeMax", "value": "={{ $json.apiParams.timeMax }}"}, {"name": "orderBy", "value": "={{ $json.apiParams.orderBy }}"}, {"name": "singleEvents", "value": "={{ $json.apiParams.singleEvents }}"}, {"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}}, "id": "ca-api-001", "name": "Calendar API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {"parameters": {"jsCode": "const items = $json.items || [];\nif ($json.id && ($json.status === 'cancelled' || $json.summary)) {\n  // Create or delete result\n  return [{ json: { ...$input.item.json, responseText: '\u2705 Calendar operation completed successfully.', success: true } }];\n}\nif (items.length === 0) {\n  return [{ json: { ...$input.item.json, responseText: '\ud83d\udcc5 No upcoming events found.', success: true } }];\n}\nlet text = '\ud83d\udcc5 Upcoming Events:\n\n';\nitems.forEach((ev, i) => {\n  const start = ev.start?.dateTime || ev.start?.date || 'TBD';\n  const summary = ev.summary || 'Untitled';\n  const location = ev.location ? `\\n\ud83d\udccd ${ev.location}` : '';\n  text += `<b>${start}</b>\\n\u2705 ${summary}${location}\\n\\n`;\n});\nreturn [{ json: { ...$input.item.json, responseText: text, success: true } }];"}, "id": "ca-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}
  ],
  "connections": {"Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]}, "Build Request": {"main": [[{"node": "Calendar API", "type": "main", "index": 0}]]}, "Calendar API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
