workflow/capabilities/calendar/calendar-agent.json
{
  "name": "JARVIS — Calendar Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "ca-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"workflowId": "JARVIS — Google Auth"}, "id": "ca-auth-001", "name": "Get Google Auth", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [500, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst accessToken = $json.accessToken || '';\n\nif (!accessToken) { return [{ json: { ...$json, responseText: '\u26a0\ufe0f Google Auth failed: no access token.', success: false } }]; }\n\nlet endpoint, queryParams, method = 'GET', body = null;\nconst calendarId = params.calendar_id || 'primary';\n\nif (intent === 'calendar_list') {\n  endpoint = `https://www.googleapis.com/calendar/v3/calendars/${calendarId}/events`;\n  const now = new Date();\n  const timeMin = params.time_min || now.toISOString();\n  const timeMax = params.time_max || new Date(now.getTime() + 7 * 86400000).toISOString();\n  queryParams = { maxResults: Math.min(params.max_results || 10, 50), timeMin, timeMax, orderBy: 'startTime', singleEvents: true };\n} else if (intent === 'calendar_create') {\n  const { summary, start, end, description, location, attendees } = params;\n  if (!summary || !start || !end) { return [{ json: { ...$json, responseText: '\u2757 summary, start, and end are required.', success: false } }]; }\n  endpoint = `https://www.googleapis.com/calendar/v3/calendars/${calendarId}/events`;\n  method = 'POST';\n  body = { summary, start: { dateTime: start }, end: { dateTime: end } };\n  if (description) body.description = description;\n  if (location) body.location = location;\n  if (attendees) body.attendees = attendees;\n} else if (intent === 'calendar_delete') {\n  const eventId = params.event_id || params.id;\n  if (!eventId) return [{ json: { ...$json, responseText: '\u2757 Event ID required.', success: false } }];\n  endpoint = `https://www.googleapis.com/calendar/v3/calendars/${calendarId}/events/${eventId}`;\n  method = 'DELETE';\n} else { return [{ json: { ...$json, responseText: '\u2753 Unknown Calendar intent: ' + intent, success: false } }]; }\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams, apiMethod: method, apiBody: body, bearerToken: accessToken, _ctx: { intent, params, accessToken, source: $json.source, userId: $json.userId, sessionId: $json.sessionId, inputText: $json.inputText } } }];"}, "id": "ca-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300]},
    {"parameters": {"method": "={{ $json.apiMethod }}", "url": "={{ $json.apiEndpoint }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "maxResults", "value": "={{ $json.apiParams.maxResults }}"}, {"name": "timeMin", "value": "={{ $json.apiParams.timeMin }}"}, {"name": "timeMax", "value": "={{ $json.apiParams.timeMax }}"}, {"name": "orderBy", "value": "={{ $json.apiParams.orderBy }}"}, {"name": "singleEvents", "value": "={{ $json.apiParams.singleEvents }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody || {}) }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "=Bearer {{ $json.bearerToken }}"}]}, "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}, "continueOnFail": true}, "id": "ca-api-001", "name": "Calendar API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {
      "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "ca-check-status", "leftValue": "={{ $json.statusCode === undefined || ($json.statusCode >= 200 && $json.statusCode < 300) }}", "rightValue": "true", "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}},
      "id": "ca-check-success",
      "name": "API Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {"jsCode": "const ctx = $json._ctx || $('Build Request').first().json._ctx || {};\nconst items = $json.items || [];\nif ($json.id && ($json.status === 'cancelled' || $json.summary)) {\n  return [{ json: { ...ctx, responseText: '\u2705 Calendar operation completed successfully.', success: true, intent: ctx.intent } }];\n}\nif (items.length === 0) { return [{ json: { ...ctx, responseText: '\ud83d\udcc5 No upcoming events found.', success: true, intent: ctx.intent } }]; }\nlet text = '\ud83d\udcc5 Upcoming Events:\n\n';\nitems.forEach((ev, i) => {\n  const start = ev.start?.dateTime || ev.start?.date || 'TBD';\n  const summary = ev.summary || 'Untitled';\n  const location = ev.location ? `\\n\ud83d\udccd ${ev.location}` : '';\n  text += `<b>${start}</b>\\n\u2705 ${summary}${location}\\n\\n`;\n});\nreturn [{ json: { ...ctx, responseText: text, success: true, intent: ctx.intent } }];"}, "id": "ca-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1140, 200]},
    {
      "parameters": {"jsCode": "const ctx = $json._ctx || $('Build Request').first().json._ctx || {};\nconst jarvisLog = (level, message, meta = {}) => {\n  const levels = { debug: 0, info: 1, warn: 2, error: 3 };\n  const configLevel = ($env.LOG_LEVEL || 'info').toLowerCase();\n  if (levels[level] >= (levels[configLevel] ?? 1)) { console[level === 'error' ? 'error' : level === 'warn' ? 'warn' : 'log'](JSON.stringify({ timestamp: new Date().toISOString(), level, traceId: ctx.sessionId || 'unknown', workflow: 'calendar-agent', message, meta })); }\n};\nconst statusCode = $json.statusCode || $json.error?.statusCode || 0;\nconst statusMessage = $json.statusMessage || $json.error?.message || 'Unknown error';\nif (statusCode === 401) {\n  jarvisLog('warn', 'Token expired, attempting refresh', { intent: ctx.intent });\n  try {\n    const authRes = await $helpers.httpRequest({ method: 'POST', url: 'https://oauth2.googleapis.com/token', headers: { 'Content-Type': 'application/x-www-form-urlencoded' }, body: 'client_id=' + encodeURIComponent($env.GOOGLE_CLIENT_ID) + '&client_secret=' + encodeURIComponent($env.GOOGLE_CLIENT_SECRET) + '&refresh_token=' + encodeURIComponent($env.GOOGLE_REFRESH_TOKEN) + '&grant_type=refresh_token', timeout: 15000 });\n    const retryRes = await $helpers.httpRequest({ method: $('Build Request').first().json.apiMethod || 'GET', url: $('Build Request').first().json.apiEndpoint, headers: { 'Authorization': 'Bearer ' + authRes.access_token }, body: $('Build Request').first().json.apiBody, timeout: 15000 });\n    return [{ json: { ...retryRes, _ctx: ctx } }];\n  } catch (retryErr) {\n    jarvisLog('error', 'Auth retry failed', { intent: ctx.intent, error: retryErr.message });\n    return [{ json: { ...ctx, responseText: '\u26a0\ufe0f Authentication failed after refresh. Please re-authenticate Google OAuth.', success: false, intent: ctx.intent } }];\n  }\n}\njarvisLog('error', 'API request failed', { intent: ctx.intent, statusCode, statusMessage });\nreturn [{ json: { ...ctx, responseText: '\u26a0\ufe0f Could not complete your request. API returned error ' + statusCode + ': ' + statusMessage + '. Please try again.', success: false, intent: ctx.intent, error: { statusCode, provider: 'calendar', intent: ctx.intent } } }];"},
      "id": "ca-handle-error-001",
      "name": "Handle API Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 400]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Get Google Auth", "type": "main", "index": 0}]]},
    "Get Google Auth": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]},
    "Build Request": {"main": [[{"node": "Calendar API", "type": "main", "index": 0}]]},
    "Calendar API": {"main": [[{"node": "API Success?", "type": "main", "index": 0}]]},
    "API Success?": {"main": [[{"node": "Format Response", "type": "main", "index": 0}], [{"node": "Handle API Error", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "errorWorkflow": "JARVIS — Error Handler"},
  "staticData": null,
  "tags": []
}
